@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title. Us</h2>
<h3>@ViewBag.Message</h3>

<address>
    USF Campus NEC Building<br />
    Tampa, FL 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<img src="http://3.bp.blogspot.com/-6i6GzOBDWsQ/VZXrZ-_9TgI/AAAAAAAAFqk/ycAII16OimA/s1600/YeahBurger-06.jpg "/>