@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RestaReviewYeah</h1>
    <p class="lead">RestaReviewYeah is a fun place where you can have reviews be seen by other people</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            RestaReviewYeah gives you a powerful tool to decide where you want to eat. We are currently under development so please enjoy this tiny demo of what it can be

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>